# Data Science Tools and Ecosystem

#### **Saiabhinav** **Chekka** - Masters in Data Science student

#### **In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**

- List popular languages for Data Science.
- Explore common data science libraries.
- Introduce arithmetic expressions and their examples.
- Demonstrate multiplication and addition of numbers.
- Convert minutes to hours using Python code.

### **Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB

### **Some of the commonly used libraries used by Data Scientists include:**

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. PyTorch
6. Matplotlib
7. Seaborn
8. Statsmodels

### Data Science Tools

| Data Science Tools              | Description                                                    |
|---------------------|----------------------------------------------------------------|
| Python              | General-purpose programming language with rich data libraries. |
| R                   | Statistical programming language with extensive packages.      |
| SQL                 | Query language for relational databases.                       |
| Jupyter Notebook    | Interactive development environment for data analysis.         |
| Apache Spark        | Distributed computing framework for big data processing.       |
| Tableau             | Data visualization and business intelligence tool.             |
| MATLAB              | Numerical computing and visualization software.                |
| Power BI            | Business analytics and visualization tool by Microsoft.        |
| Git                 | Version control system for managing code and collaboration.    |
| Docker              | Platform for containerizing and deploying applications.        |

## Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python

Arithmetic expressions play a fundamental role in mathematics and programming. They involve operations such as addition, subtraction, multiplication, and division, allowing us to perform mathematical calculations. Here are some examples of arithmetic expressions:

1. **Addition**: The sum of two numbers can be represented using the addition operator (+). For example, `2 + 3` equals `5`.

2. **Subtraction**: The difference between two numbers can be calculated using the subtraction operator (-). For instance, `10 - 5` results in `5`.

3. **Multiplication**: The product of two numbers is obtained using the multiplication operator (*). For instance, `4 * 3` yields `12`.

4. **Division**: The quotient of two numbers can be calculated using the division operator (/). For example, `15 / 3` equals `5`.

5. **Modulo**: The modulo operator (%) returns the remainder of the division of two numbers. For example, `10 % 3` yields `1`.

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print("The result of the expression (3*4)+5 is:", result)

The result of the expression (3*4)+5 is: 17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author

Saiabhinav Chekka